version: '3'

services:
  db:
    image: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    volumes:
      - postgres_volume:/var/lib/postgresql/data
    restart: always

  web:
    build:
      context: .
      dockerfile: ./Dockerfile
    tty: true
    stdin_open: true
    volumes:
      - .:/system:cached
      - /system/vendor
      - tmp:/system/tmp
      - /system/.git
      - bundle:/bundle:delegated
    ports:
      - "3000:3000"
    environment:
      TZ: Asia/Tokyo
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    depends_on:
      - db

volumes:
  bundle:
  tmp:
  postgres_volume:
